.menuWrapper {
  position: relative;
  display: none;
  list-style: none;
  justify-content: space-between;
  height: 44px;
  max-width: 100%;
  background-color: #ff5816;
  border-radius: 5px;
  padding: 0 12px;
  overflow: hidden;
  flex-wrap: wrap;
  border-bottom: 2px solid #c44411;
}

.menuWrapper li {
  font-size: 13px;
  background-color: #ff5816;
  line-height: 16px;
  padding: 6px;
  height: 44px;
  text-transform: uppercase;
  color: #fff;
  flex-shrink: 0;
  cursor: pointer;
}

.menuWrapper .separator {
  height: 100%;
  padding: 0;
  width: 0;
  border-right: 1px solid #ff743d;
}

.menuWrapper li:hover {
  background-color: #ff743d;
  text-decoration: underline;
}

.menuWrapper a {
  position: absolute;
  background-color: #c44411;
  width: 12px;
  height: 100%;
  padding-left: 3px;
  right: 0px;
  color: #fff;
  top: 0px;
  text-decoration: none;
  font-size: 28px;
  vertical-align: middle;
}

.menuWrapper a:hover {
  color: #879296;
}

@media screen and (min-width: 1140px) {
  .menuWrapper {
    display: flex;
  }
}
