* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-light", sans-serif;
  --mobile: 320px;
  --tabletSmall: 750px;
  --tabletBig: 970px;
  --desktop: 1140px;
  --indent: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--indent);
  min-width: var(--mobile);
  max-width: var(--desktop);
}

.block {
  padding: 0 var(--indent);
  width: 100%;
}
@media screen and (min-width: 1140px) {
  .block {
    padding: 0;
  }
  .container {
    padding: 0;
  }
}
